h1 {
    color: #0dcaf0;
}

h5 {
    color: #0dcaf0;
}

.nav-pills .nav-link.active {
    background-color: #0dcaf0;
}

.input-width {
    width: 50%;
}

.bg-color-turquoise {
    background-color: #0dcaf0;
}

.color-night {
    background-color: #355C7D !important;
    color: white !important;
}